<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1> "Welcome to the Nested Forms Lab!"</h1>
    <h2>let's navigate to the '/new'</h2>
    <form action="/pirates" method="post">

      <h2>Pirate info</h2>
      <p>Name: <input type="text" name="pirate[name]"></p>
      <p>Weight: <input type="text" name="pirate[weight]"></p>
      <p>Height: <input type="text" name="pirate[height]"></p>

      <h2>Ship #1 info</h2>
      <p>Name: <input type="text" name="pirate[ships][][name]"></p>
      <p>Type: <input type="text" name="pirate[ships][][type]"></p>
      <p>Booty: <input type="text" name="pirate[ships][][booty]"></p>

      <h2>Ship #2 info</h2>
      <p>Name: <input type="text" name="pirate[ships][][name]"></p>
      <p>Type: <input type="text" name="pirate[ships][][type]"></p>
      <p>Booty: <input type="text" name="pirate[ships][][booty]"></p>

      <input type="submit" id="submit">

    </form>

  </body>
</html>
